    <footer  class="footnote footnote-tiffany">
        <div class="container">
                <a class="foot-item" href="mailto:{{ site.email }}" target="_blank"><span class="octicon octicon-mail"></span></a>
                <a class="foot-item" href="https://github.com/{{ site.github_username }}" target="_blank"><span class="octicon octicon-mark-github"></span></a>
                <a href="http://lesley2958.github.io"><span class="word-keep">&copy; TL;DR</span></a>
        </div>
    </footer>
